## Project-specific
doc
*.log
target/

/dependency-reduced-pom.xml

## Directory-based project format:
.idea/


## File-based project format:
*.ipr
*.iws


## Plugin-specific files:

# IntelliJ
*.iml
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties


## Filesystem-specific
*.DS_Store
